/* TIMER */
.base-timer {
    float: left;
    text-align: left;
    position: relative;
    width: 150px;
    height: 150px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: white;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#container,
#app {
    display: inline-block;
}

#container {
    position: relative;
    float: right;
    width: 200px;
    height: auto;

}


button {
    position: absolute;
    align-self: left;
    background-color: black;
    padding: 0;
    border: 0;
    background: none;
}

#app {
    text-align: center;
    float: left;
}

body {
    text-align: center;
    background-color: black;
}

/* SCORE */
#display {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    align-content: center;
    text-align: center;
}
