{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('login') }}">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.username.label }} {{ form.username(class="form-control") }}
    {% if form.username.errors %}
    {% for error in form.username.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.password.label }} {{ form.password(class="form-control") }}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <p>Don't have an account? Click here to <a href="{{ url_for('register') }}"> Register</a></p>
</form>
{% endblock %}