/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #bbccff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.header img {
  width: 150px;
  margin: 0 auto;
}

.signout-button a{
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  text-decoration: none;

}

.signout-button:hover a {
  background-color: #e53935;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
      flex-direction: column;
      text-align: center;
  }

  .header img {
      margin-bottom: 10px;
  }
}